.main-div mat-card {
    padding: 0px;
}

.login-form {
    padding: 25px;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgba(142, 68, 173, 0.9);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-button {
    margin-top: 10px;
}

.second-button:hover {
    background-color: rgba(142, 68, 173, 0.9);
}